#### Notebooks  
- [Data Collection](./01_data_collection.ipynb)
- [Data Cleaning](./02_data_cleaning.ipynb)
- [Data Preprocessing](./03_data_preprocessing.ipynb)
- [EDA Five States](./04_eda_five_states.ipynb)
- [EDA California](./05_eda_ca.ipynb)
- [EDA Florida](./05_eda_fl.ipynb)
- [EDA Illinois](./05_eda_il.ipynb)
- [EDA New York](./05_eda_ny.ipynb)
- [EDA Texas](./05_eda_tx.ipynb)
- [Modeling Five States](./06_modeling_five_states.ipynb)
- [Modeling California](./07_modeling_ca.ipynb)
- [Modeling Florida](./07_modeling_fl.ipynb)
- [Modeling Illinois](./07_modeling_il.ipynb)
- [Modeling New York](./07_modeling_ny.ipynb)
- [Modeling Texas](./07_modeling_tx.ipynb)
- [Conclusions](./08_conclusions.ipynb)

#### This Notebook's Contents  
- [Importing and Cleaning Land Area](#Importing-and-Cleaning-Land-Area)  
- [Importing and Cleaning DP05 Data](#Importing-and-Cleaning-DP05-Data)  
- [Create 'SEX AND AGE' Dataframe](#Create-'SEX-AND-AGE'-Dataframe)
- [Create 'RACE' Dataframe](#Create-'RACE'-Dataframe)
- [Importing and Cleaning DP03 Data](#Importing-and-Cleaning-DP03-Data) 
- [Create 'INCOME' Dataframe](#Create-'INCOME'-Dataframe)
- [Create 'HEALTH INSURANCE' Dataframe](#Create-'HEALTH-INSURANCE'-Dataframe)
- [Importing and Cleaning Obesity Data](#Importing-and-Cleaning-Obesity-Data)
- [Importing and Cleaning CA COVID Data](#Importing-and-Cleaning-CA-COVID-Data)
- [Importing and Cleaning FL COVID Data](#Importing-and-Cleaning-FL-COVID-Data)
- [Importing and Cleaning IL COVID Data](#Importing-and-Cleaning-IL-COVID-Data)
- [Importing and Cleaning NY COVID Data](#Importing-and-Cleaning-NY-COVID-Data)
- [Importing and Cleaning TX COVID Data](#Importing-and-Cleaning-TX-COVID-Data)
- [Combining COVID Data](#Combining-COVID-Data)

In [1]:
# Import the required libraries.
import pandas as pd
import numpy as np

# Importing and Cleaning Land Area

In [2]:
# Read in land data as dataframes.
tx_land = pd.read_csv('../data/preprocessing/raw_area_tx.csv')
ca_land = pd.read_csv('../data/preprocessing/raw_area_ca.csv')
fl_land = pd.read_csv('../data/preprocessing/raw_area_fl.csv')
il_land = pd.read_csv('../data/preprocessing/raw_area_il.csv')
ny_land = pd.read_csv('../data/preprocessing/raw_area_ny.csv')

# Display the first few rows of the dataframe.
tx_land.head(2)

,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI
0,TX,48001,1383786,Anderson County,2752198848,39810264,1062.630,15.371
1,TX,48003,1383787,Andrews County,3886850264,957039,1500.721,0.370

In [3]:
# Display the first few rows of the dataframe.
ca_land.head(2)

,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI
0,CA,6001,1675839,Alameda County,1909598013,216923745,737.30,83.755
1,CA,6003,1675840,Alpine County,1912292630,12557304,738.34,4.848

In [4]:
# Display the first few rows of the dataframe.
fl_land.head(2)

,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI
0,FL,12001,308548,Alachua County,2266324954,242877007,875.033,93.775
1,FL,12003,306920,Baker County,1515738968,9686120,585.230,3.740

In [5]:
# Display the first few rows of the dataframe.
il_land.head(2)

,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI
0,IL,17001,424202,Adams County,2214804824,41767689,855.141,16.127
1,IL,17003,424203,Alexander County,609996948,44237171,235.521,17.080

In [6]:
# Display the first few rows of the dataframe.
ny_land.head(2)

,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI
0,NY,36001,974099,Albany County,1354120790,27124553,522.829,10.473
1,NY,36003,974100,Allegany County,2666029673,12999275,1029.360,5.019

In [7]:
# Concategnate the dataframes.
land = pd.concat([tx_land, ca_land, fl_land, il_land, ny_land])

In [8]:
# Display the first few rows of the dataframe.
land.head(2)

,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI
0,TX,48001,1383786,Anderson County,2752198848,39810264,1062.630,15.371
1,TX,48003,1383787,Andrews County,3886850264,957039,1500.721,0.370

### Creating a 'Geographic Area Name' column

In [9]:
# Display the value counts of the 'USPS' column.
land['USPS'].value_counts()

TX    254
IL    102
FL     67
NY     62
CA     58
Name: USPS, dtype: int64

In [10]:
# Create a new state column.
land['state'] = land['USPS'].str.replace('TX', ', Texas').str.replace('FL', ', Florida')\
                .str.replace('IL', ', Illinois').str.replace('NY', ', New York').str.replace('CA', ', California')

In [11]:
# Create a new county_state column.
land['county_state'] = land['NAME'] + land['state']

In [12]:
# Display the first few rows of the dataframe.
land.head(2)

,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,state,county_state
0,TX,48001,1383786,Anderson County,2752198848,39810264,1062.630,15.371,", Texas","Anderson County, Texas"
1,TX,48003,1383787,Andrews County,3886850264,957039,1500.721,0.370,", Texas","Andrews County, Texas"

In [13]:
# Drop all the columns except for county name and land square miles.
land = land[['county_state', 'ALAND_SQMI']]

In [14]:
# Rename the columns.
land = land.rename(columns={'county_state': 'Geographic Area Name', 'ALAND_SQMI': 'sq_mi'})

In [15]:
# Display the dataframe.
land

            Geographic Area Name     sq_mi
0         Anderson County, Texas  1062.630
1          Andrews County, Texas  1500.721
2         Angelina County, Texas   797.782
3          Aransas County, Texas   252.049
4           Archer County, Texas   903.289
..                           ...       ...
57   Washington County, New York   831.167
58        Wayne County, New York   603.829
59  Westchester County, New York   430.568
60      Wyoming County, New York   592.750
61        Yates County, New York   338.143

[543 rows x 2 columns]

In [16]:
# Set the county to the index
land = land.set_index('Geographic Area Name')

In [17]:
# Export the data.
land.to_csv('../data/preprocessing/cleaned_area_five_states.csv')

# Importing and Cleaning DP05 Data

In [18]:
# Read in data with headers as dataframe, setting the geo name to the idex.
dp05 = pd.read_csv('../data/preprocessing/raw_dp05_with_headers_five_states.csv', index_col=0)
# Display the first few rows of the dataframe.
dp05.head(2)

,Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Percent Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Margin of Error!!RACE!!Total population,Percent Estimate!!RACE!!Total population,Percent Margin of Error!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,...,DP05_0004PMA,DP05_0004PEA,DP05_0018PMA,DP05_0018PEA,DP05_0025PMA,DP05_0028PMA,DP05_0028PEA,DP05_0029PMA,state,county
Geographic Area Name,,,,,,,,,,,,,,,,,,,,,
"Austin County, Texas",0.6,87.0,1.9,-888888888,-888888888,29565,-555555555,29565,-888888888,29004,...,(X),(X),(X),(X),(X),(X),(X),(X),48,15
"Kenedy County, Texas",20.5,34.7,38.9,-888888888,-888888888,595,181,595,-888888888,595,...,(X),(X),(X),(X),(X),(X),(X),(X),48,261

In [19]:
# Replace !! in column titles with empty space.
dp05.columns = dp05.columns.str.replace('!!', ' ')

In [20]:
# Drop the county and state number columns.
dp05 = dp05.drop(columns= ['county', 'state'])

## Replace -888888888, -555555555, -666666666, and (X) with NaN

-888888888, or '(X)' means that the estimate is not applicable or not available.  
-555555555, or '*****' entry in the margin of error column indicates that the estimate is controlled. A statistical test for sampling variability is not appropriate.  
-666666666, or '-' entry indicates either no sample observations or too few sample observations were available to compute an estimate, or a ratio of medians cannot be calculated because one or both of the median estimates falls in the lowest interval or upper interval of an open-ended distribution.

In [21]:
# Replace -888888888, -555555555, and '(X)' with NaN.
dp05 = dp05.replace([-888888888, -555555555, -666666666, '(X)'], np.nan)

## Drop Margin of Error Columns

In [22]:
# Drop columns that contain 'Margin' in the name.
# https://stackoverflow.com/questions/406230/regular-expression-to-match-a-line-that-doesnt-contain-a-word
dp05 = dp05.filter(regex='^((?!Margin).)*$', axis=1)

## Drop Percent Columns

In [23]:
# Drop columns that contain 'Percent' in the name.
# Any percentages will be recalculated after combining total counts.
dp05 = dp05.filter(regex='^((?!Percent).)*$', axis=1)

## Drop Columns with NaN Values

In [24]:
# Drop the columns that have NaN values.
dp05 = dp05.loc[:, (dp05.isna().sum() < 1)]

# Create 'SEX AND AGE' Dataframe

In [25]:
# Extract the columns that have SEX AND AGE in the title
# and save to a new dataframe.
dp05_sex_age = dp05.filter(regex = '(SEX AND AGE)', axis=1)
# Display the first few rows of the dataframe.
dp05_sex_age.head(2)

,Estimate SEX AND AGE Total population 65 years and over Sex ratio (males per 100 females),Estimate SEX AND AGE Total population,Estimate SEX AND AGE Total population Male,Estimate SEX AND AGE Total population Female,Estimate SEX AND AGE Total population Sex ratio (males per 100 females),Estimate SEX AND AGE Total population Under 5 years,Estimate SEX AND AGE Total population 5 to 9 years,Estimate SEX AND AGE Total population 10 to 14 years,Estimate SEX AND AGE Total population 15 to 19 years,Estimate SEX AND AGE Total population 20 to 24 years,...,Estimate SEX AND AGE Total population 21 years and over,Estimate SEX AND AGE Total population 62 years and over,Estimate SEX AND AGE Total population 65 years and over,Estimate SEX AND AGE Total population 18 years and over.1,Estimate SEX AND AGE Total population 18 years and over Male,Estimate SEX AND AGE Total population 18 years and over Female,Estimate SEX AND AGE Total population 18 years and over Sex ratio (males per 100 females),Estimate SEX AND AGE Total population 65 years and over.1,Estimate SEX AND AGE Total population 65 years and over Male,Estimate SEX AND AGE Total population 65 years and over Female
Geographic Area Name,,,,,,,,,,,,,,,,,,,,,
"Austin County, Texas",87.0,29565,14684,14881,98.7,1780,1960,2118,1861,1712,...,21531,6718,5394,22460,11107,11353,97.8,5394,2509,2885
"Kenedy County, Texas",34.7,595,286,309,92.6,85,37,40,10,10,...,413,137,136,428,190,238,79.8,136,35,101

In [26]:
# Display information about the SEX and AGE dataframe.
dp05_sex_age.info()

<class 'pandas.core.frame.DataFrame'>
Index: 543 entries, Austin County, Texas to Mason County, Illinois
Data columns (total 32 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   Estimate SEX AND AGE Total population 65 years and over Sex ratio (males per 100 females)  543 non-null    float64
 1   Estimate SEX AND AGE Total population                                                      543 non-null    int64
 2   Estimate SEX AND AGE Total population Male                                                 543 non-null    int64
 3   Estimate SEX AND AGE Total population Female                                               543 non-null    int64
 4   Estimate SEX AND AGE Total population Sex ratio (males per 100 females)                    543 non-null    float64
 5   Estimate SEX AND AGE Total population Under 5 years                                        543 non-null    int64
 6   Estimate SEX AND AGE Total population 5 to 9 years                                         543 non-null    int64
 7   Estimate SEX AND AGE Total population 10 to 14 years                                       543 non-null    int64
 8   Estimate SEX AND AGE Total population 15 to 19 years                                       543 non-null    int64
 9   Estimate SEX AND AGE Total population 20 to 24 years                                       543 non-null    int64
 10  Estimate SEX AND AGE Total population 25 to 34 years                                       543 non-null    int64
 11  Estimate SEX AND AGE Total population 35 to 44 years                                       543 non-null    int64
 12  Estimate SEX AND AGE Total population 45 to 54 years                                       543 non-null    int64
 13  Estimate SEX AND AGE Total population 55 to 59 years                                       543 non-null    int64
 14  Estimate SEX AND AGE Total population 60 to 64 years                                       543 non-null    int64
 15  Estimate SEX AND AGE Total population 65 to 74 years                                       543 non-null    int64
 16  Estimate SEX AND AGE Total population 75 to 84 years                                       543 non-null    int64
 17  Estimate SEX AND AGE Total population 85 years and over                                    543 non-null    int64
 18  Estimate SEX AND AGE Total population Median age (years)                                   543 non-null    float64
 19  Estimate SEX AND AGE Total population Under 18 years                                       543 non-null    int64
 20  Estimate SEX AND AGE Total population 16 years and over                                    543 non-null    int64
 21  Estimate SEX AND AGE Total population 18 years and over                                    543 non-null    int64
 22  Estimate SEX AND AGE Total population 21 years and over                                    543 non-null    int64
 23  Estimate SEX AND AGE Total population 62 years and over                                    543 non-null    int64
 24  Estimate SEX AND AGE Total population 65 years and over                                    543 non-null    int64
 25  Estimate SEX AND AGE Total population 18 years and over.1                                  543 non-null    int64
 26  Estimate SEX AND AGE Total population 18 years and over Male                               543 non-null    int64
 27  Estimate SEX AND AGE Total population 18 years and over Female                             543 non-null    int64
 28  Estimate SEX AND AGE Total population 18 years and over Sex ratio (males per 100 females)  543 non-null    float64
 29  Estimate SEX AND AGE Total population 65 years and over.1                                  543 non-null    int64
 30  Estimate SEX AND AGE Total population 65 years and over Male                               543 non-null    int64
 31  Estimate SEX AND AGE Total population 65 years and over Female                             543 non-null    int64
dtypes: float64(4), int64(28)
memory usage: 140.0+ KB

In [27]:
# These are the columns to be used in the analysis.
columns_sex_age = [
    'Estimate SEX AND AGE Total population',
    'Estimate SEX AND AGE Total population Male',
    'Estimate SEX AND AGE Total population Female',
    'Estimate SEX AND AGE Total population Under 5 years',
    'Estimate SEX AND AGE Total population 5 to 9 years',
    'Estimate SEX AND AGE Total population 10 to 14 years',
    'Estimate SEX AND AGE Total population 15 to 19 years',
    'Estimate SEX AND AGE Total population 20 to 24 years',
    'Estimate SEX AND AGE Total population 25 to 34 years',
    'Estimate SEX AND AGE Total population 35 to 44 years',
    'Estimate SEX AND AGE Total population 45 to 54 years',
    'Estimate SEX AND AGE Total population 55 to 59 years',
    'Estimate SEX AND AGE Total population 60 to 64 years',
    'Estimate SEX AND AGE Total population 65 to 74 years',
    'Estimate SEX AND AGE Total population 75 to 84 years',
    'Estimate SEX AND AGE Total population 85 years and over',
    'Estimate SEX AND AGE Total population Median age (years)',
]

In [28]:
# Extract the important columns for gender and age analysis.
dp05_sex_age = dp05_sex_age[columns_sex_age]

In [29]:
# Display the first few rows of the dataframe.
dp05_sex_age.head(2)

,Estimate SEX AND AGE Total population,Estimate SEX AND AGE Total population Male,Estimate SEX AND AGE Total population Female,Estimate SEX AND AGE Total population Under 5 years,Estimate SEX AND AGE Total population 5 to 9 years,Estimate SEX AND AGE Total population 10 to 14 years,Estimate SEX AND AGE Total population 15 to 19 years,Estimate SEX AND AGE Total population 20 to 24 years,Estimate SEX AND AGE Total population 25 to 34 years,Estimate SEX AND AGE Total population 35 to 44 years,Estimate SEX AND AGE Total population 45 to 54 years,Estimate SEX AND AGE Total population 55 to 59 years,Estimate SEX AND AGE Total population 60 to 64 years,Estimate SEX AND AGE Total population 65 to 74 years,Estimate SEX AND AGE Total population 75 to 84 years,Estimate SEX AND AGE Total population 85 years and over,Estimate SEX AND AGE Total population Median age (years)
Geographic Area Name,,,,,,,,,,,,,,,,,
"Austin County, Texas",29565,14684,14881,1780,1960,2118,1861,1712,3339,3275,3821,2327,1978,3243,1532,619,40.7
"Kenedy County, Texas",595,286,309,85,37,40,10,10,95,47,75,51,9,85,29,22,39.5

In [30]:
# Clean up column names.
dp05_sex_age.columns = dp05_sex_age.columns.str.lower().str.replace('estimate ', '').str.replace('sex and age', 'sex_age')

In [31]:
# Clean up column names.
dp05_sex_age.columns = dp05_sex_age.columns.str.replace('total population', 'pop').str.replace(' years', '').str.replace(' ', '_')

In [32]:
# Display the columns.
list(dp05_sex_age.columns)

['sex_age_pop',
 'sex_age_pop_male',
 'sex_age_pop_female',
 'sex_age_pop_under_5',
 'sex_age_pop_5_to_9',
 'sex_age_pop_10_to_14',
 'sex_age_pop_15_to_19',
 'sex_age_pop_20_to_24',
 'sex_age_pop_25_to_34',
 'sex_age_pop_35_to_44',
 'sex_age_pop_45_to_54',
 'sex_age_pop_55_to_59',
 'sex_age_pop_60_to_64',
 'sex_age_pop_65_to_74',
 'sex_age_pop_75_to_84',
 'sex_age_pop_85_and_over',
 'sex_age_pop_median_age_(years)']

In [33]:
# Rename the median age column for the function.
dp05_sex_age = dp05_sex_age.rename(columns={'sex_age_pop_median_age_(years)': 'sex_age_median_age_in_years'})

In [34]:
# Export the data.
dp05_sex_age.to_csv('../data/preprocessing/cleaned_dp05_sex_age_five_states.csv')

# Create 'RACE' Dataframe

In [35]:
# Extract the columns that have RACE in the title
# and save to a new dataframe.
dp05_race = dp05.filter(regex='(RACE)', axis=1)
# Display the first few rows of the dataframe.
dp05_race.head(2)

,Estimate RACE Total population,Estimate RACE Total population One race,Estimate RACE Total population Two or more races,Estimate RACE Total population One race.1,Estimate RACE Total population One race White,Estimate RACE Total population One race Black or African American,Estimate RACE Total population One race American Indian and Alaska Native,Estimate RACE Total population One race American Indian and Alaska Native Cherokee tribal grouping,Estimate RACE Total population One race American Indian and Alaska Native Chippewa tribal grouping,Estimate RACE Total population One race American Indian and Alaska Native Navajo tribal grouping,...,Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino,Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino White alone,Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Black or African American alone,Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino American Indian and Alaska Native alone,Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Asian alone,Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Native Hawaiian and Other Pacific Islander alone,Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Some other race alone,Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Two or more races,Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Two or more races Two races including Some other race,"Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Two or more races Two races excluding Some other race, and Three or more races"
Geographic Area Name,,,,,,,,,,,,,,,,,,,,,
"Austin County, Texas",29565,29004,561,29004,23810,2626,48,0,0,0,...,21746,18525,2576,48,89,0,52,456,0,456
"Kenedy County, Texas",595,595,0,595,573,0,0,0,0,0,...,73,72,0,0,1,0,0,0,0,0

In [36]:
# Display information about the dataframe.
dp05_race.info()

<class 'pandas.core.frame.DataFrame'>
Index: 543 entries, Austin County, Texas to Mason County, Illinois
Data columns (total 46 columns):
 #   Column                                                                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                                                                       --------------  -----
 0   Estimate RACE Total population                                                                                                                               543 non-null    int64
 1   Estimate RACE Total population One race                                                                                                                      543 non-null    int64
 2   Estimate RACE Total population Two or more races                                                                                                             543 non-null    int64
 3   Estimate RACE Total population One race.1                                                                                                                    543 non-null    int64
 4   Estimate RACE Total population One race White                                                                                                                543 non-null    int64
 5   Estimate RACE Total population One race Black or African American                                                                                            543 non-null    int64
 6   Estimate RACE Total population One race American Indian and Alaska Native                                                                                    543 non-null    int64
 7   Estimate RACE Total population One race American Indian and Alaska Native Cherokee tribal grouping                                                           543 non-null    int64
 8   Estimate RACE Total population One race American Indian and Alaska Native Chippewa tribal grouping                                                           543 non-null    int64
 9   Estimate RACE Total population One race American Indian and Alaska Native Navajo tribal grouping                                                             543 non-null    int64
 10  Estimate RACE Total population One race American Indian and Alaska Native Sioux tribal grouping                                                              543 non-null    int64
 11  Estimate RACE Total population One race Asian                                                                                                                543 non-null    int64
 12  Estimate RACE Total population One race Asian Asian Indian                                                                                                   543 non-null    int64
 13  Estimate RACE Total population One race Asian Chinese                                                                                                        543 non-null    int64
 14  Estimate RACE Total population One race Asian Filipino                                                                                                       543 non-null    int64
 15  Estimate RACE Total population One race Asian Japanese                                                                                                       543 non-null    int64
 16  Estimate RACE Total population One race Asian Korean                                                                                                         543 non-null    int64
 17  Estimate RACE Total population One race Asian Vietnamese                                                                                                     543 non-null    int64
 18  Estimate RACE Total population One race Asian Other Asian                                                                                                    543 non-null    int64
 19  Estimate RACE Total population One race Native Hawaiian and Other Pacific Islander                                                                           543 non-null    int64
 20  Estimate RACE Total population One race Native Hawaiian and Other Pacific Islander Native Hawaiian                                                           543 non-null    int64
 21  Estimate RACE Total population One race Native Hawaiian and Other Pacific Islander Guamanian or Chamorro                                                     543 non-null    int64
 22  Estimate RACE Total population One race Native Hawaiian and Other Pacific Islander Samoan                                                                    543 non-null    int64
 23  Estimate RACE Total population One race Native Hawaiian and Other Pacific Islander Other Pacific Islander                                                    543 non-null    int64
 24  Estimate RACE Total population One race Some other race                                                                                                      543 non-null    int64
 25  Estimate RACE Total population Two or more races.1                                                                                                           543 non-null    int64
 26  Estimate RACE Total population Two or more races White and Black or African American                                                                         543 non-null    int64
 27  Estimate RACE Total population Two or more races White and American Indian and Alaska Native                                                                 543 non-null    int64
 28  Estimate RACE Total population Two or more races White and Asian                                                                                             543 non-null    int64
 29  Estimate RACE Total population Two or more races Black or African American and American Indian and Alaska Native                                             543 non-null    int64
 30  Estimate HISPANIC OR LATINO AND RACE Total population                                                                                                        543 non-null    int64
 31  Estimate HISPANIC OR LATINO AND RACE Total population Hispanic or Latino (of any race)                                                                       543 non-null    int64
 32  Estimate HISPANIC OR LATINO AND RACE Total population Hispanic or Latino (of any race) Mexican                                                               543 non-null    int64
 33  Estimate HISPANIC OR LATINO AND RACE Total population Hispanic or Latino (of any race) Puerto Rican                                                          543 non-null    int64
 34  Estimate HISPANIC OR LATINO AND RACE Total population Hispanic or Latino (of any race) Cuban                                                                 543 non-null    int64
 35  Estimate HISPANIC OR LATINO AND RACE Total population Hispanic or Latino (of any race) Other Hispanic or Latino                                              543 non-null    int64
 36  Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino                                                                                 543 non-null    int64
 37  Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino White alone                                                                     543 non-null    int64
 38  Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Black or African American alone                                                 543 non-null    int64
 39  Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino American Indian and Alaska Native alone                                         543 non-null    int64
 40  Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Asian alone                                                                     543 non-null    int64
 41  Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Native Hawaiian and Other Pacific Islander alone                                543 non-null    int64
 42  Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Some other race alone                                                           543 non-null    int64
 43  Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Two or more races                                                               543 non-null    int64
 44  Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Two or more races Two races including Some other race                           543 non-null    int64
 45  Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Two or more races Two races excluding Some other race, and Three or more races  543 non-null    int64
dtypes: int64(46)
memory usage: 199.4+ KB

In [37]:
# The race columns are broken down into two basic parts, one witout hispanic, and one with. 
# The hispanic section appears to be better suited for analysis.
columns_hispanic = [
    'Estimate RACE Total population',
    'Estimate HISPANIC OR LATINO AND RACE Total population Hispanic or Latino (of any race)',
    'Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino White alone',
    'Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Black or African American alone',
    'Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino American Indian and Alaska Native alone',
    'Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Asian alone',
    'Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Native Hawaiian and Other Pacific Islander alone',
    'Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Some other race alone',
    'Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Two or more races'
]

In [38]:
# Extract the important columns for analysis.
dp05_race = dp05_race[columns_hispanic]

In [39]:
# Display the columns of the dataframe.
dp05_race.columns

Index(['Estimate RACE Total population',
       'Estimate HISPANIC OR LATINO AND RACE Total population Hispanic or Latino (of any race)',
       'Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino White alone',
       'Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Black or African American alone',
       'Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino American Indian and Alaska Native alone',
       'Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Asian alone',
       'Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Native Hawaiian and Other Pacific Islander alone',
       'Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Some other race alone',
       'Estimate HISPANIC OR LATINO AND RACE Total population Not Hispanic or Latino Two or more races'],
      dtype='object')

In [40]:
# Clean up column names.
dp05_race.columns = dp05_race.columns.str.lower().str.replace('estimate hispanic or latino and race total population', 'race pop')

In [41]:
# Clean up column names.
dp05_race.columns = dp05_race.columns.str.replace('not hispanic or latino ', '').str.replace('estimate race total population', 'race pop')

In [42]:
# Clean up column names.
dp05_race.columns = dp05_race.columns.str.replace('\(', '').str.replace('\)', '').str.replace(' ', '_')

In [43]:
# Display the columns of the dataframe.
list(dp05_race.columns)

['race_pop',
 'race_pop_hispanic_or_latino_of_any_race',
 'race_pop_white_alone',
 'race_pop_black_or_african_american_alone',
 'race_pop_american_indian_and_alaska_native_alone',
 'race_pop_asian_alone',
 'race_pop_native_hawaiian_and_other_pacific_islander_alone',
 'race_pop_some_other_race_alone',
 'race_pop_two_or_more_races']

In [44]:
# Export the data.
dp05_race.to_csv('../data/preprocessing/cleaned_dp05_race_five_states.csv')

# Importing and Cleaning DP03 Data

In [45]:
# Read in data with heads as dataframe, setting the geo name to the idex.
dp03 = pd.read_csv('../data/preprocessing/raw_dp03_with_headers_five_states.csv', index_col=0)
# Display the first few rows of the dataframe.
dp03.head(2)

,GEO_ID,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over,Margin of Error!!EMPLOYMENT STATUS!!Population 16 years and over,Percent Estimate!!EMPLOYMENT STATUS!!Population 16 years and over,Percent Margin of Error!!EMPLOYMENT STATUS!!Population 16 years and over,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force,Margin of Error!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force,Percent Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force,Percent Margin of Error!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force,...,DP03_0134EA,DP03_0134MA,DP03_0135EA,DP03_0135MA,DP03_0136EA,DP03_0136MA,DP03_0137MA,DP03_0137EA,state,county
Geographic Area Name,,,,,,,,,,,,,,,,,,,,,
"Austin County, Texas",0500000US48015,23354,108,23354,-888888888,14475,413,62.0,1.8,14475,...,(X),(X),(X),(X),(X),(X),(X),(X),48,15
"Kenedy County, Texas",0500000US48261,428,122,428,-888888888,220,83,51.4,13.4,220,...,(X),(X),(X),(X),(X),(X),(X),(X),48,261

In [46]:
# Replace !! in column titles with empty space.
dp03.columns = dp03.columns.str.replace('!!', ' ')

In [47]:
# Drop the state and county number columns.
dp03 = dp03.drop(columns= ['state', 'county', 'Geographic Area Name.1', 'GEO_ID'])

## Replace -888888888, -555555555, -666666666, and (X) with NaN

-888888888, or '(X)' means that the estimate is not applicable or not available.  
-555555555, or '*****' entry in the margin of error column indicates that the estimate is controlled. A statistical test for sampling variability is not appropriate.  
-666666666, or '-' entry indicates either no sample observations or too few sample observations were available to compute an estimate, or a ratio of medians cannot be calculated because one or both of the median estimates falls in the lowest interval or upper interval of an open-ended distribution.

In [48]:
# Replace -888888888, -555555555, and '(X)' with NaN
dp03 = dp03.replace([-888888888, -555555555, -666666666, '(X)'], np.nan)

## Drop Margin of Error Columns

In [49]:
# Drop columns that contain 'Margin' in the name.
# https://stackoverflow.com/questions/406230/regular-expression-to-match-a-line-that-doesnt-contain-a-word
dp03 = dp03.filter(regex='^((?!Margin).)*$', axis=1)

## Drop Percent Columns

In [50]:
# Drop columns that contain 'Percent' in the name.
# Any percentages will be calculated after recombining total counts
dp03 = dp03.filter(regex='^((?!Percent).)*$', axis=1)

## Drop Columns with NaN Values

In [51]:
# Drop the columns that have NaN values.
dp03 = dp03.loc[:, (dp03.isna().sum() < 1)]

In [52]:
# Display the first few rows of the dataframe
dp03.head(2)

,Estimate EMPLOYMENT STATUS Population 16 years and over,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Civilian labor force,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Civilian labor force Employed,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Civilian labor force Unemployed,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Armed Forces,Estimate EMPLOYMENT STATUS Population 16 years and over Not in labor force,Estimate EMPLOYMENT STATUS Civilian labor force,Estimate EMPLOYMENT STATUS Females 16 years and over,Estimate EMPLOYMENT STATUS Females 16 years and over In labor force,...,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed With health insurance coverage,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed With health insurance coverage With private health insurance,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed With health insurance coverage With public coverage,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed No health insurance coverage,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force With health insurance coverage,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force With health insurance coverage With private health insurance,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force With health insurance coverage With public coverage,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force No health insurance coverage
Geographic Area Name,,,,,,,,,,,,,,,,,,,,,
"Austin County, Texas",23354,14475,14475,13801,674,0,8879,14475,11825,6551,...,645,469,393,78,176,3758,2918,2081,1036,840
"Kenedy County, Texas",428,220,220,220,0,0,208,220,238,91,...,0,0,0,0,0,83,38,33,5,45

Economic categories covered in DP03:
1. Employment Status
1. Commuting to Work
1. Occupation
1. Industry
1. Class of Worker
1. Income and Benefits
1. Health Insurance Coverage

In [53]:
# Display DP03 columns as a list.
list(dp03.columns)

['Estimate EMPLOYMENT STATUS Population 16 years and over',
 'Estimate EMPLOYMENT STATUS Population 16 years and over In labor force',
 'Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Civilian labor force',
 'Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Civilian labor force Employed',
 'Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Civilian labor force Unemployed',
 'Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Armed Forces',
 'Estimate EMPLOYMENT STATUS Population 16 years and over Not in labor force',
 'Estimate EMPLOYMENT STATUS Civilian labor force',
 'Estimate EMPLOYMENT STATUS Females 16 years and over',
 'Estimate EMPLOYMENT STATUS Females 16 years and over In labor force',
 'Estimate EMPLOYMENT STATUS Females 16 years and over In labor force Civilian labor force',
 'Estimate EMPLOYMENT STATUS Females 16 years and over In labor force Civilian labor force Employed',
 'Estimate EMPLOYMENT STATUS Own children of the householder under 6 years',
 'Estimate EMPLOYMENT STATUS Own children of the householder under 6 years All parents in family in labor force',
 'Estimate EMPLOYMENT STATUS Own children of the householder 6 to 17 years',
 'Estimate EMPLOYMENT STATUS Own children of the householder 6 to 17 years All parents in family in labor force',
 'Estimate COMMUTING TO WORK Workers 16 years and over',
 'Estimate COMMUTING TO WORK Workers 16 years and over Car, truck, or van -- drove alone',
 'Estimate COMMUTING TO WORK Workers 16 years and over Car, truck, or van -- carpooled',
 'Estimate COMMUTING TO WORK Workers 16 years and over Public transportation (excluding taxicab)',
 'Estimate COMMUTING TO WORK Workers 16 years and over Walked',
 'Estimate COMMUTING TO WORK Workers 16 years and over Other means',
 'Estimate COMMUTING TO WORK Workers 16 years and over Worked at home',
 'Estimate COMMUTING TO WORK Workers 16 years and over Mean travel time to work (minutes)',
 'Estimate OCCUPATION Civilian employed population 16 years and over',
 'Estimate OCCUPATION Civilian employed population 16 years and over Management, business, science, and arts occupations',
 'Estimate OCCUPATION Civilian employed population 16 years and over Service occupations',
 'Estimate OCCUPATION Civilian employed population 16 years and over Sales and office occupations',
 'Estimate OCCUPATION Civilian employed population 16 years and over Natural resources, construction, and maintenance occupations',
 'Estimate OCCUPATION Civilian employed population 16 years and over Production, transportation, and material moving occupations',
 'Estimate INDUSTRY Civilian employed population 16 years and over',
 'Estimate INDUSTRY Civilian employed population 16 years and over Agriculture, forestry, fishing and hunting, and mining',
 'Estimate INDUSTRY Civilian employed population 16 years and over Construction',
 'Estimate INDUSTRY Civilian employed population 16 years and over Manufacturing',
 'Estimate INDUSTRY Civilian employed population 16 years and over Wholesale trade',
 'Estimate INDUSTRY Civilian employed population 16 years and over Retail trade',
 'Estimate INDUSTRY Civilian employed population 16 years and over Transportation and warehousing, and utilities',
 'Estimate INDUSTRY Civilian employed population 16 years and over Information',
 'Estimate INDUSTRY Civilian employed population 16 years and over Finance and insurance, and real estate and rental and leasing',
 'Estimate INDUSTRY Civilian employed population 16 years and over Professional, scientific, and management, and administrative and waste management services',
 'Estimate INDUSTRY Civilian employed population 16 years and over Educational services, and health care and social assistance',
 'Estimate INDUSTRY Civilian employed population 16 years and over Arts, entertainment, and recreation, and accommodation and food services',
 'Estimate INDUSTRY Civilian employed population 16 years and over Other services, except public administration',
 'Estimate INDUSTRY Civilian employed population 16 years and over Public administration',
 'Estimate CLASS OF WORKER Civilian employed population 16 years and over',
 'Estimate CLASS OF WORKER Civilian employed population 16 years and over Private wage and salary workers',
 'Estimate CLASS OF WORKER Civilian employed population 16 years and over Government workers',
 'Estimate CLASS OF WORKER Civilian employed population 16 years and over Self-employed in own not incorporated business workers',
 'Estimate CLASS OF WORKER Civilian employed population 16 years and over Unpaid family workers',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Less than $10,000',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $10,000 to $14,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $15,000 to $24,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $25,000 to $34,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $35,000 to $49,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $50,000 to $74,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $75,000 to $99,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $100,000 to $149,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $150,000 to $199,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $200,000 or more',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Median household income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Mean household income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With earnings',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With earnings Mean earnings (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With Social Security',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With Social Security Mean Social Security income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With retirement income',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With retirement income Mean retirement income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With Supplemental Security Income',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With cash public assistance income',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With Food Stamp/SNAP benefits in the past 12 months',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families Less than $10,000',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $10,000 to $14,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $15,000 to $24,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $25,000 to $34,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $35,000 to $49,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $50,000 to $74,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $75,000 to $99,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $100,000 to $149,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $150,000 to $199,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $200,000 or more',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families Median family income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families Mean family income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Per capita income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Nonfamily households',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Nonfamily households Mean nonfamily income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Median earnings for male full-time, year-round workers (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Median earnings for female full-time, year-round workers (dollars)',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population With health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population With health insurance coverage With private health insurance',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population With health insurance coverage With public coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population No health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population under 19 years',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population under 19 years No health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed With health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed With health insurance coverage With private health insurance',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed With health insurance coverage With public coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed No health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed With health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed With health insurance coverage With private health insurance',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed With health insurance coverage With public coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed No health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force With health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force With health insurance coverage With private health insurance',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force With health insurance coverage With public coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force No health insurance coverage']

# Create 'INCOME' Dataframe

In [54]:
# Extract the columns that have INCOME AND BENEFITS in the title
# and save to a new dataframe.
dp03_income = dp03.filter(regex = '(INCOME AND BENEFITS)', axis=1)
# Display the first few rows of the dataframe.
dp03_income.head(2)

,Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households,"Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Less than $10,000","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $10,000 to $14,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $15,000 to $24,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $25,000 to $34,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $35,000 to $49,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $50,000 to $74,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $75,000 to $99,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $100,000 to $149,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $150,000 to $199,999",...,"Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $100,000 to $149,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $150,000 to $199,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $200,000 or more",Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families Median family income (dollars),Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families Mean family income (dollars),Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Per capita income (dollars),Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Nonfamily households,Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Nonfamily households Mean nonfamily income (dollars),"Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Median earnings for male full-time, year-round workers (dollars)","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Median earnings for female full-time, year-round workers (dollars)"
Geographic Area Name,,,,,,,,,,,,,,,,,,,,,
"Austin County, Texas",11041,482,459,1255,927,1186,1851,1651,2150,551,...,1888,534,479,79066,92253,30858,2781,44884,55417,38603
"Kenedy County, Texas",209,25,4,49,13,71,16,23,8,0,...,0,0,0,40625,44286,15820,55,28953,40848,23295

In [55]:
# Display information about the dataframe.
dp03_income.info()

<class 'pandas.core.frame.DataFrame'>
Index: 543 entries, Austin County, Texas to Mason County, Illinois
Data columns (total 40 columns):
 #   Column                                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                                         --------------  -----
 0   Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households                                                             543 non-null    int64
 1   Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Less than $10,000                                           543 non-null    int64
 2   Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $10,000 to $14,999                                          543 non-null    int64
 3   Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $15,000 to $24,999                                          543 non-null    int64
 4   Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $25,000 to $34,999                                          543 non-null    int64
 5   Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $35,000 to $49,999                                          543 non-null    int64
 6   Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $50,000 to $74,999                                          543 non-null    int64
 7   Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $75,000 to $99,999                                          543 non-null    int64
 8   Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $100,000 to $149,999                                        543 non-null    int64
 9   Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $150,000 to $199,999                                        543 non-null    int64
 10  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $200,000 or more                                            543 non-null    int64
 11  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Median household income (dollars)                           543 non-null    int64
 12  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Mean household income (dollars)                             543 non-null    int64
 13  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With earnings                                               543 non-null    int64
 14  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With earnings Mean earnings (dollars)                       543 non-null    int64
 15  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With Social Security                                        543 non-null    int64
 16  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With Social Security Mean Social Security income (dollars)  543 non-null    int64
 17  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With retirement income                                      543 non-null    int64
 18  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With retirement income Mean retirement income (dollars)     543 non-null    int64
 19  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With Supplemental Security Income                           543 non-null    int64
 20  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With cash public assistance income                          543 non-null    int64
 21  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With Food Stamp/SNAP benefits in the past 12 months         543 non-null    int64
 22  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families                                                                     543 non-null    int64
 23  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families Less than $10,000                                                   543 non-null    int64
 24  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $10,000 to $14,999                                                  543 non-null    int64
 25  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $15,000 to $24,999                                                  543 non-null    int64
 26  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $25,000 to $34,999                                                  543 non-null    int64
 27  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $35,000 to $49,999                                                  543 non-null    int64
 28  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $50,000 to $74,999                                                  543 non-null    int64
 29  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $75,000 to $99,999                                                  543 non-null    int64
 30  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $100,000 to $149,999                                                543 non-null    int64
 31  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $150,000 to $199,999                                                543 non-null    int64
 32  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $200,000 or more                                                    543 non-null    int64
 33  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families Median family income (dollars)                                      543 non-null    int64
 34  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families Mean family income (dollars)                                        543 non-null    int64
 35  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Per capita income (dollars)                                                  543 non-null    int64
 36  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Nonfamily households                                                         543 non-null    int64
 37  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Nonfamily households Mean nonfamily income (dollars)                         543 non-null    int64
 38  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Median earnings for male full-time, year-round workers (dollars)             543 non-null    int64
 39  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Median earnings for female full-time, year-round workers (dollars)           543 non-null    int64
dtypes: int64(40)
memory usage: 173.9+ KB

In [56]:
# These are the columns to be used in the analysis.
columns_income = [
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households',
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Less than $10,000',
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $10,000 to $14,999',
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $15,000 to $24,999',
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $25,000 to $34,999',
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $35,000 to $49,999',
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $50,000 to $74,999',
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $75,000 to $99,999',
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $100,000 to $149,999',
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $150,000 to $199,999',
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $200,000 or more',
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Median household income (dollars)',
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Mean household income (dollars)',
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Per capita income (dollars)',
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Median earnings for male full-time, year-round workers (dollars)',
    'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Median earnings for female full-time, year-round workers (dollars)'
]

In [57]:
# Extract the important columns for income analysis.
dp03_income = dp03_income[columns_income]

In [58]:
# Display the first few rows of the dataframe.
dp03_income.head(2)

,Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households,"Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Less than $10,000","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $10,000 to $14,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $15,000 to $24,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $25,000 to $34,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $35,000 to $49,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $50,000 to $74,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $75,000 to $99,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $100,000 to $149,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $150,000 to $199,999","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $200,000 or more",Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Median household income (dollars),Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Mean household income (dollars),Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Per capita income (dollars),"Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Median earnings for male full-time, year-round workers (dollars)","Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Median earnings for female full-time, year-round workers (dollars)"
Geographic Area Name,,,,,,,,,,,,,,,,
"Austin County, Texas",11041,482,459,1255,927,1186,1851,1651,2150,551,529,65365,80769,30858,55417,38603
"Kenedy County, Texas",209,25,4,49,13,71,16,23,8,0,0,36125,40908,15820,40848,23295

In [59]:
# Clean up column names.
dp03_income.columns = dp03_income.columns.str.lower().str.replace('estimate ', '')

In [60]:
# Clean up column names.
dp03_income.columns = dp03_income.columns.str.replace('income', 'inc').str.replace(' and benefits \(in 2018 inflation-adjusted dollars\)', '')

In [61]:
# Clean up column names.
dp03_income.columns = dp03_income.columns.str.replace('total ', '').str.replace(', ', '_').str.replace('$', '')

In [62]:
# Clean up column names.
dp03_income.columns = dp03_income.columns.str.replace('households', 'hhlds').str.replace('household', 'hhld').str.replace(',', '_')

In [63]:
# Clean up column names.
dp03_income.columns = dp03_income.columns.str.replace('inc hhlds median', 'inc median').str.replace('inc hhlds mean', 'inc mean')

In [64]:
# Clean up column names.
dp03_income.columns = dp03_income.columns.str.replace('\(', '').str.replace('\)', '').str.replace('for ', '').str.replace(' ', '_')

In [65]:
# Clean up column names.
dp03_income.columns = dp03_income.columns.str.replace('median', 'med').str.replace('full-time_year-round', 'full_yr')

In [66]:
# Clean up column names.
dp03_income.columns = dp03_income.columns.str.replace('dollars', 'dol').str.replace('earnings', 'earn')

In [67]:
# Display column names.
list(dp03_income.columns)

['inc_hhlds',
 'inc_hhlds_less_than_10_000',
 'inc_hhlds_10_000_to_14_999',
 'inc_hhlds_15_000_to_24_999',
 'inc_hhlds_25_000_to_34_999',
 'inc_hhlds_35_000_to_49_999',
 'inc_hhlds_50_000_to_74_999',
 'inc_hhlds_75_000_to_99_999',
 'inc_hhlds_100_000_to_149_999',
 'inc_hhlds_150_000_to_199_999',
 'inc_hhlds_200_000_or_more',
 'inc_med_hhld_inc_dol',
 'inc_mean_hhld_inc_dol',
 'inc_per_capita_inc_dol',
 'inc_med_earn_male_full_yr_workers_dol',
 'inc_med_earn_female_full_yr_workers_dol']

In [68]:
# Export the data.
dp03_income.to_csv('../data/preprocessing/cleaned_dp03_income_five_states.csv')

# Create 'HEALTH INSURANCE' Dataframe

In [69]:
# Extract the columns that have HEALTH INSURANCE in the title
# and save to a new dataframe.
dp03_ins = dp03.filter(regex = '(HEALTH INSURANCE)', axis=1)
# Display the first few rows of the dataframe.
dp03_ins.head(2)

,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population With health insurance coverage,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population With health insurance coverage With private health insurance,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population With health insurance coverage With public coverage,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population No health insurance coverage,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population under 19 years,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population under 19 years No health insurance coverage,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed,...,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed With health insurance coverage,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed With health insurance coverage With private health insurance,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed With health insurance coverage With public coverage,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed No health insurance coverage,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force With health insurance coverage,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force With health insurance coverage With private health insurance,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force With health insurance coverage With public coverage,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force No health insurance coverage
Geographic Area Name,,,,,,,,,,,,,,,,,,,,,
"Austin County, Texas",29298,25749,20393,8863,3549,7434,415,16634,12876,12231,...,645,469,393,78,176,3758,2918,2081,1036,840
"Kenedy County, Texas",595,467,212,276,128,167,4,292,209,209,...,0,0,0,0,0,83,38,33,5,45

In [70]:
# Display information about the dataframe.
dp03_ins.info()

<class 'pandas.core.frame.DataFrame'>
Index: 543 entries, Austin County, Texas to Mason County, Illinois
Data columns (total 24 columns):
 #   Column                                                                                                                                                                                                                      Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                      --------------  -----
 0   Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population                                                                                                                                                 543 non-null    int64
 1   Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population With health insurance coverage                                                                                                                  543 non-null    int64
 2   Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population With health insurance coverage With private health insurance                                                                                    543 non-null    int64
 3   Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population With health insurance coverage With public coverage                                                                                             543 non-null    int64
 4   Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population No health insurance coverage                                                                                                                    543 non-null    int64
 5   Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population under 19 years                                                                                         543 non-null    int64
 6   Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population under 19 years No health insurance coverage                                                            543 non-null    int64
 7   Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years                                                                                         543 non-null    int64
 8   Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force                                                                          543 non-null    int64
 9   Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed                                                                 543 non-null    int64
 10  Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed With health insurance coverage                                  543 non-null    int64
 11  Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed With health insurance coverage With private health insurance    543 non-null    int64
 12  Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed With health insurance coverage With public coverage             543 non-null    int64
 13  Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed No health insurance coverage                                    543 non-null    int64
 14  Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed                                                               543 non-null    int64
 15  Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed With health insurance coverage                                543 non-null    int64
 16  Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed With health insurance coverage With private health insurance  543 non-null    int64
 17  Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed With health insurance coverage With public coverage           543 non-null    int64
 18  Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed No health insurance coverage                                  543 non-null    int64
 19  Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force                                                                      543 non-null    int64
 20  Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force With health insurance coverage                                       543 non-null    int64
 21  Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force With health insurance coverage With private health insurance         543 non-null    int64
 22  Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force With health insurance coverage With public coverage                  543 non-null    int64
 23  Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force No health insurance coverage                                         543 non-null    int64
dtypes: int64(24)
memory usage: 106.1+ KB

In [71]:
# These are the columns to be used in the analysis.
columns_ins = [
    'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population',
    'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population With health insurance coverage',
    'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population No health insurance coverage'
]

In [72]:
# Extract the important columns for analysis.
dp03_ins = dp03_ins[columns_ins]

In [73]:
# Display the first few rows of the dataframe.
dp03_ins.head(3)

,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population With health insurance coverage,Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population No health insurance coverage
Geographic Area Name,,,
"Austin County, Texas",29298,25749,3549
"Kenedy County, Texas",595,467,128
"Nueces County, Texas",355767,295165,60602

In [74]:
# Clean up column names.
dp03_ins.columns = dp03_ins.columns.str.lower().str.replace('estimate health insurance coverage civilian noninstitutionalized population', 'health_ins_noninst_pop')

In [75]:
dp03_ins.columns = dp03_ins.columns.str.replace('with health insurance coverage', 'cov_yes')

In [76]:
# Clean up column names.
dp03_ins.columns = dp03_ins.columns.str.replace('no health insurance coverage', 'cov_no')

In [77]:
# Clean up column names.
dp03_ins.columns = dp03_ins.columns.str.replace(' ', '_')

In [78]:
# Display the columns as a list.
list(dp03_ins.columns)

['health_ins_noninst_pop',
 'health_ins_noninst_pop_cov_yes',
 'health_ins_noninst_pop_cov_no']

In [79]:
# Export the data.
dp03_ins.to_csv('../data/preprocessing/cleaned_dp03_insurance_five_states.csv')

# Importing and Cleaning Obesity Data

In [80]:
# Read in the data.
tx = pd.read_csv('../data/preprocessing/raw_obesity_tx.csv')
ca = pd.read_csv('../data/preprocessing/raw_obesity_ca.csv')
fl = pd.read_csv('../data/preprocessing/raw_obesity_fl.csv')
il = pd.read_csv('../data/preprocessing/raw_obesity_il.csv')
ny = pd.read_csv('../data/preprocessing/raw_obesity_ny.csv')

In [81]:
# Display the first few rows of the dataframe.
tx.head(2)

            County  State  CountyFIPS  Percentage  Lower Limit   Upper Limit
0  Anderson County  Texas       48001        37.3         28.1          47.5
1   Andrews County  Texas       48003        31.3         20.0          44.2

In [82]:
# Display the first few rows of the dataframe.
ca.head(2)

,County,State,CountyFIPS,Percentage,Lower Limit,Upper Limit
0,Alameda County,California,6001,6.7,5.5,7.8
1,Alpine County,California,6003,4.6,1.7,11.2

In [83]:
# Display the first few rows of the dataframe.
fl.head(2)

           County    State  CountyFIPS  Percentage  Lower Limit   Upper Limit
0  Alachua County  Florida       12001         9.6          8.2          11.3
1    Baker County  Florida       12003        13.6         11.0          16.3

In [84]:
# Display the first few rows of the dataframe.
il.head(2)

,County,State,CountyFIPS,Percentage,Lower Limit,Upper Limit
0,Adams County,Illinois,17001,11.4,6.8,18.2
1,Alexander County,Illinois,17003,3.6,1.4,7.5

In [85]:
# Display the first few rows of the dataframe.
ny.head(2)

,County,State,CountyFIPS,Percentage,Lower Limit,Upper Limit
0,Albany County,New York,36001,8.8,7.5,10.2
1,Allegany County,New York,36003,9.3,7.8,11.2

In [86]:
# Combine the dataframes.
obesity = pd.concat([tx, ca, fl, il, ny])

In [87]:
# Create a county column using the lowercase county-only formatting
obesity['Geographic Area Name'] = obesity['County'] + ', ' + obesity['State']

In [88]:
# Rename a column.
obesity = obesity.rename(columns={'Percentage': 'obes_percent'})

In [89]:
# Convert obesity percentage column to a decimal.
obesity['obes_percent'] = obesity['obes_percent'] / 100

In [90]:
# Display the first few rows of the dataframe.
obesity.head(2)

,County,State,CountyFIPS,obes_percent,Lower Limit,Upper Limit,Geographic Area Name
0,Anderson County,Texas,48001,0.373,28.1,47.5,"Anderson County, Texas"
1,Andrews County,Texas,48003,0.313,20.0,44.2,"Andrews County, Texas"

In [91]:
# Drop all columns except for geo and obesity percentage.
obesity = obesity[['Geographic Area Name', 'obes_percent']]

In [92]:
# Set the location to the index.
obesity = obesity.set_index('Geographic Area Name')

In [93]:
# Export the data.
obesity.to_csv('../data/preprocessing/cleaned_obesity_five_states.csv')

# Importing and Cleaning CA COVID Data

In [94]:
# Read in the data.
ca = pd.read_csv('../data/preprocessing/raw_covid_cases_ca.csv')
ca_tests = pd.read_csv('../data/preprocessing/raw_covid_tests_ca.csv')

In [95]:
# Display the first few rows of the dataframe.
ca.head(2)

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
0,Santa Clara,151.0,6.0,151,6,2020-03-18
1,Santa Clara,183.0,8.0,32,2,2020-03-19

In [96]:
# Convert the date column to a datetime object and set it to the index.
ca['date'] = pd.to_datetime(ca['date'])
ca = ca.set_index('date')

In [97]:
# Display the max index.
ca.index.max()

Timestamp('2020-10-24 00:00:00')

In [98]:
# Drop all rows except for October 24th.
ca = ca.loc['2020-10-24']

In [99]:
# Reset the index.
ca = ca.reset_index()

In [100]:
# Display non-normal county rows.
ca[ca['county'] == 'Out Of Country']

,date,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths
37,2020-10-24,Out Of Country,0.0,0.0,0,0

In [101]:
# Drop non-normal county rows.
ca = ca.drop(ca[ca['county'] == 'Out Of Country'].index)

In [102]:
# Display non-normal county rows.
ca[ca['county'] == 'Unassigned']

,date,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths
50,2020-10-24,Unassigned,3.0,0.0,2,0

In [103]:
# Drop non-normal county rows.
ca = ca.drop(ca[ca['county'] == 'Unassigned'].index)

In [104]:
# Create a geo column.
ca['Geographic Area Name'] = ca['county'] + ' County, California'

In [105]:
# Drop columns
ca = ca[['Geographic Area Name', 'totalcountconfirmed', 'totalcountdeaths']]

In [106]:
# Rename columns.
ca = ca.rename(columns={'totalcountconfirmed': 'total_cases', 'totalcountdeaths': 'total_fatalities'})

In [107]:
# Calculate death rate and add as a column.
ca['death_rate'] = ca['total_fatalities']/ca['total_cases']

In [108]:
# Display the first few rows of the dataframe.
ca_tests.head(2)

    County  Tests as of 2020-10-24
0  Alameda                  613097
1   Alpine                     371

In [109]:
# Create a geo column.
ca_tests['Geographic Area Name'] = ca_tests['County'] + ' County, California'

In [110]:
# Drop columns.
ca_tests = ca_tests[['Geographic Area Name', 'Tests as of 2020-10-24']]

In [111]:
# Rename columns.
ca_tests = ca_tests.rename(columns={'Tests as of 2020-10-24': 'total_tests'})

In [112]:
# Merge the dataframes.
ca = ca.merge(ca_tests,on='Geographic Area Name')

In [113]:
# Display the first few rows of the dataframe.
ca.head(2)

,Geographic Area Name,total_cases,total_fatalities,death_rate,total_tests
0,"Santa Clara County, California",23978.0,388.0,0.016181,839764
1,"San Mateo County, California",10942.0,159.0,0.014531,285657

# Importing and Cleaning FL COVID Data

In [114]:
# Import the data.
fl = pd.read_csv('../data/preprocessing/raw_covid_fl.csv')

In [115]:
# Display the first few rows of th dataframe.
fl.head(2)

  COUNTYNAME  CasesAll  Deaths  T_total
0  GILCHRIST       602      18     5016
1     PUTNAM      2355      50    19344

In [116]:
# Capitalize the first letter of every word in the dataframe.
fl['County'] = fl['COUNTYNAME'].str.lower().str.title()

In [117]:
# Create a geo column.
fl['Geographic Area Name'] = fl['County'] + ' County, Florida'

In [118]:
# Rename columns.
fl = fl.rename(columns={'CasesAll': 'total_cases', 'T_total': 'total_tests', 'Deaths': 'total_fatalities'})

In [119]:
# Display non-normal county rows.
fl[fl['County'] == 'Unknown']

,COUNTYNAME,total_cases,total_fatalities,total_tests,County,Geographic Area Name
67,Unknown,1857,0,19276,Unknown,"Unknown County, Florida"

In [120]:
# Drop non-normal county rows.
fl = fl.drop(fl[fl['County'] == 'Unknown'].index)

In [121]:
# Display non-normal county rows.
fl[fl['County'] == 'A State']

,COUNTYNAME,total_cases,total_fatalities,total_tests,County,Geographic Area Name
68,A State,778636,16429,5960050,A State,"A State County, Florida"

In [122]:
# Drop non-normal county rows.
fl = fl.drop(fl[fl['County'] == 'A State'].index)

In [123]:
# Display non-normal county rows.
fl[fl['Geographic Area Name'] == 'Dade County, Florida']

,COUNTYNAME,total_cases,total_fatalities,total_tests,County,Geographic Area Name
47,DADE,181942,3612,1032525,Dade,"Dade County, Florida"

Dade county should be Miami-Dade County.

In [124]:
# Rename non-normal county rows.
fl.loc[47, 'Geographic Area Name'] = 'Miami-Dade County, Florida'

In [125]:
# Display non-normal county rows.
fl[fl['Geographic Area Name'] == 'Desoto County, Florida']

,COUNTYNAME,total_cases,total_fatalities,total_tests,County,Geographic Area Name
57,DESOTO,1652,29,11834,Desoto,"Desoto County, Florida"

In [126]:
# Rename non-normal county rows.
fl.loc[57, 'Geographic Area Name'] = 'DeSoto County, Florida'

In [127]:
# Calculate death rate and add as a column.
fl['death_rate'] = fl['total_fatalities'] / fl['total_cases']

In [128]:
# Drop columns.
fl = fl[['Geographic Area Name', 'total_cases', 'total_fatalities', 'death_rate', 'total_tests']]

In [129]:
# Display the first few rows of the dataframe.
fl.head(2)

,Geographic Area Name,total_cases,total_fatalities,death_rate,total_tests
0,"Gilchrist County, Florida",602,18,0.029900,5016
1,"Putnam County, Florida",2355,50,0.021231,19344

# Importing and Cleaning IL COVID Data

In [130]:
# Import the data.
il = pd.read_csv('../data/preprocessing/raw_covid_tests_cases_il.csv')

In [131]:
# Display the first few rows of the dataframe.
il.head(2)

     County   Tested  Confirmed Cases  Deaths
0  Illinois  7268952           374256    9505
1     Adams    38542             1862      19

In [132]:
# Drop non-normal county rows.
il = il.drop(il[il['County'] == 'Illinois'].index)

In [133]:
# Drop non-normal county rows.
il = il.drop(il[il['County'] == 'Out Of State'].index)

In [134]:
# Display non-normal county rows.
il[il['County'] == 'Chicago']

     County   Tested  Confirmed Cases  Deaths
11  Chicago  1460721            95463    3041

In [135]:
# Display non-normal county rows.
il[il['County'] == 'Cook']

   County   Tested  Confirmed Cases  Deaths
17   Cook  1270723            80123    2380

The datasource for IL testing for some reason separated Chicago and Cook county. They should be combined under Cook county.

In [136]:
# Display combinations of the two rows.
il.loc[11] + il.loc[17]

County             ChicagoCook
Tested                 2731444
Confirmed Cases         175586
Deaths                    5421
dtype: object

In [137]:
# Save the sum of the two rows to a new row.
new_row = il.loc[11] + il.loc[17]

In [138]:
# Name the new row.
new_row.name = 105

In [139]:
# Append the new row to the dataframe.
il = il.append(new_row)
# Display the last few rows of the dataframe.
il.tail(2)

          County   Tested  Confirmed Cases  Deaths
104     Woodford    16973              618      14
105  ChicagoCook  2731444           175586    5421

In [140]:
# Drop non-normal county rows.
il = il.drop(il[il['County'] == 'Chicago'].index)

In [141]:
# Drop non-normal county rows.
il = il.drop(il[il['County'] == 'Cook'].index)

In [142]:
# Reset the index.
il = il.reset_index(drop=True)

In [143]:
# Display the added entry.
il.loc[il['County'] == 'ChicagoCook']

          County   Tested  Confirmed Cases  Deaths
101  ChicagoCook  2731444           175586    5421

In [144]:
# Rename the county to 'Cook'.
il.loc[101, 'County'] = 'Cook'

In [145]:
# Create a geo column.
il['Geographic Area Name'] = il['County'] + ' County, Illinois'

In [146]:
# Calculate death rate and add as a column.
il['death_rate'] = il['Deaths'] / il['Confirmed Cases']

In [147]:
# Drop columns.
il = il[['Geographic Area Name', 'Confirmed Cases', 'Deaths', 'death_rate', 'Tested']]

In [148]:
# Rename columns.
il = il.rename(columns={'Confirmed Cases': 'total_cases', 'Deaths': 'total_fatalities', 'Tested': 'total_tests'})

In [149]:
# Display the first few rows of the dataframe.
il.head(2)

,Geographic Area Name,total_cases,total_fatalities,death_rate,total_tests
0,"Adams County, Illinois",1862,19,0.010204,38542
1,"Alexander County, Illinois",120,1,0.008333,2350

# Importing and Cleaning NY COVID Data

In [150]:
# Import the data.
ny = pd.read_csv('../data/preprocessing/raw_covid_tests_cases_ny.csv')
ny_death = pd.read_csv('../data/preprocessing/raw_covid_deaths_cases_ny.csv')

In [151]:
# Display the first few rows of the dataframe.
ny.head(2)

,date,County,New Positives,total_cases,Total Number of Tests Performed,total_tests
0,03/01/2020,Albany,0,0,0,0
1,03/02/2020,Albany,0,0,0,0

In [152]:
# Convert the date column to a datetime object and set it to the index.
ny['date'] = pd.to_datetime(ny['date'])
ny = ny.set_index('date')

In [153]:
# Display the max index.
ny.index.max()

Timestamp('2020-10-24 00:00:00')

In [154]:
# Include data only from the max index.
ny = ny.loc['2020-10-24']

In [155]:
# Reset and drop the index.
ny = ny.reset_index(drop=True)

In [156]:
# Create a geo column.
ny['Geographic Area Name'] = ny['County'] + ' County, New York'

In [157]:
# Drop columns.
ny = ny[['Geographic Area Name', 'total_cases', 'total_tests']]

In [158]:
# Display the first few rows of the dataframe.
ny.head(2)

        Geographic Area Name  total_cases  total_tests
0    Albany County, New York         3577       176101
1  Allegany County, New York          271        24790

In [159]:
# Display the first few rows of the dataframe.
ny_death.head(2)

     County  Total Cases 10-24  Total Fatalities 10-24
0    Albany               3549                     128
1  Allegany                269                       9

In [160]:
# Create a geo column.
ny_death['Geographic Area Name'] = ny_death['County'] + ' County, New York'

In [161]:
# Display non-normal county rows.
ny_death[ny_death['Geographic Area Name'] == 'New York City County, New York']

,County,Total Cases 10-24,Total Fatalities 10-24,Geographic Area Name
30,New York City,262615,23963,"New York City County, New York"

In [162]:
# Rename non-normal county rows.
ny_death.loc[30, 'Geographic Area Name'] = 'New York County, New York'

In [163]:
# Rename columns.
ny_death = ny_death.rename(
    columns={'Total Fatalities 10-24': 'total_fatalities'})

In [164]:
# Drop columns.
ny_death = ny_death[['Geographic Area Name', 'total_fatalities']]

In [165]:
# Display the first few rows of the dataframe.
ny_death.head(2)

        Geographic Area Name  total_fatalities
0    Albany County, New York               128
1  Allegany County, New York                 9

In [166]:
# Merge the dataframes.
ny = ny.merge(ny_death,on='Geographic Area Name')

In [167]:
# Calculate death rate and add as a column.
ny['death_rate'] = ny['total_fatalities'] / ny['total_cases']

In [168]:
# Reorder the columns.
ny = ny[['Geographic Area Name', 'total_cases', 'total_fatalities', 'death_rate', 'total_tests']]

In [169]:
# Display the first few rows of the dataframe.
ny.head(2)

,Geographic Area Name,total_cases,total_fatalities,death_rate,total_tests
0,"Albany County, New York",3577,128,0.035784,176101
1,"Allegany County, New York",271,9,0.033210,24790

# Importing and Cleaning TX COVID Data

In [170]:
# Import the data.
tx = pd.read_csv('../data/preprocessing/raw_covid_tests_cases_tx.csv')
tx_death = pd.read_csv('../data/preprocessing/raw_covid_deaths_tx.csv')

In [171]:
# Display the first few rows of the dataframe.
tx.head(2)

,County Name,Cases 10-20,Cases 10-21,Cases 10-22,Cases 10-23,Cases 10-24,Cases 10-25,Tests 10-20,Tests 10-21,Tests 10-22,Tests 10-23,Tests 10-24
0,Anderson,2920,2922,2934,2935,2941,2941,"29,371","29,485","29,843","29,964","30,052"
1,Andrews,549,567,567,567,584,584,"1,930","1,943","2,092","2,112","2,127"

In [172]:
# Create a geo column.
tx['Geographic Area Name'] = tx['County Name'] + ' County, Texas'

In [173]:
# Rename columns.
tx = tx.rename(columns={'Cases 10-24': 'total_cases', 'Tests 10-24': 'total_tests'})

In [174]:
# Drop columns. 
tx = tx[['Geographic Area Name', 'total_cases', 'total_tests']]

In [175]:
# Sort by geo column.
tx = tx.sort_values(by='Geographic Area Name')

In [176]:
# Display the first few rows of the dataframe.
tx_death.head(2)

,County Name,Fatalities 10-20,Fatalities 10-21,Fatalities 10-22,Fatalities 10-23,Fatalities 10-24
0,ANDERSON,39,39,39,39,39
1,ANDREWS,10,10,10,10,10

In [177]:
# Capitalize the first letter of every word in the dataframe.
tx_death['County Name'] = tx_death['County Name'].str.lower().str.title()

In [178]:
# Create a geo column.
tx_death['Geographic Area Name'] = tx_death['County Name'] + ' County, Texas'

In [179]:
# Rename columns.
tx_death = tx_death.rename(columns={'Fatalities 10-24': 'total_fatalities'})

In [180]:
tx_death.head(2)

,County Name,Fatalities 10-20,Fatalities 10-21,Fatalities 10-22,Fatalities 10-23,total_fatalities,Geographic Area Name
0,Anderson,39,39,39,39,39,"Anderson County, Texas"
1,Andrews,10,10,10,10,10,"Andrews County, Texas"

In [181]:
# Drop columns. 
tx_death = tx_death[['Geographic Area Name', 'total_fatalities']]

In [182]:
# Sort by geo column.
tx_death = tx_death.sort_values(by='Geographic Area Name')

In [183]:
# Display non-normal county rows.
tx_death[tx_death['Geographic Area Name'] == 'De Witt County, Texas']

     Geographic Area Name  total_fatalities
58  De Witt County, Texas                44

In [184]:
# Rename non-normal county rows.
tx_death.loc[58, 'Geographic Area Name'] = 'DeWitt County, Texas'

In [185]:
# Display non-normal county rows.
tx_death[tx_death['Geographic Area Name'] == 'Mcculloch County, Texas']

        Geographic Area Name  total_fatalities
159  Mcculloch County, Texas                 4

In [186]:
# Rename non-normal county rows.
tx_death.loc[159, 'Geographic Area Name'] = 'McCulloch County, Texas'

In [187]:
# Display non-normal county rows.
tx_death[tx_death['Geographic Area Name'] == 'Mclennan County, Texas']

       Geographic Area Name  total_fatalities
160  Mclennan County, Texas               131

In [188]:
# Rename non-normal county rows.
tx_death.loc[160, 'Geographic Area Name'] = 'McLennan County, Texas'

In [189]:
# Display non-normal county rows.
tx_death[tx_death['Geographic Area Name'] == 'Mcmullen County, Texas']

       Geographic Area Name  total_fatalities
161  Mcmullen County, Texas                 1

In [190]:
# Rename non-normal county rows.
tx_death.loc[161, 'Geographic Area Name'] = 'McMullen County, Texas'

In [191]:
# Merge the dataframes.
tx = tx.merge(tx_death,on='Geographic Area Name')

In [192]:
# Calculate death rate and add as a column.
tx['death_rate'] = tx['total_fatalities'] / tx['total_cases']

In [193]:
# Display the first few rows of th dataframe.
tx.head(2)

,Geographic Area Name,total_cases,total_tests,total_fatalities,death_rate
0,"Anderson County, Texas",2941,"30,052",39,0.013261
1,"Andrews County, Texas",584,"2,127",10,0.017123

In [194]:
# Reorder columns.
tx = tx[['Geographic Area Name', 'total_cases', 'total_fatalities', 'death_rate', 'total_tests']]

In [195]:
# Define a function clean total_tests.
def clean(text):
    new_string = ''
    for ch in text:
        if ch != ',':
            new_string = new_string + ch
    return int(new_string)

In [196]:
# Apply the function to the tests column.
tx['total_tests'] = tx['total_tests'].apply(clean)

In [197]:
# Display the first few rows of th dataframe.
tx.head(2)

,Geographic Area Name,total_cases,total_fatalities,death_rate,total_tests
0,"Anderson County, Texas",2941,39,0.013261,30052
1,"Andrews County, Texas",584,10,0.017123,2127

# Combining COVID Data

In [198]:
# Concatenate the dataframes.
covid = pd.concat([ca, fl, il, ny, tx])

In [199]:
# Display the dataframe.
covid

,Geographic Area Name,total_cases,total_fatalities,death_rate,total_tests
0,"Santa Clara County, California",23978.0,388.0,0.016181,839764
1,"San Mateo County, California",10942.0,159.0,0.014531,285657
2,"Santa Barbara County, California",9781.0,120.0,0.012269,158693
3,"Tuolumne County, California",269.0,4.0,0.014870,20986
4,"Sierra County, California",6.0,0.0,0.000000,641
...,...,...,...,...,...
249,"Wood County, Texas",626.0,39.0,0.062300,6844
250,"Yoakum County, Texas",289.0,6.0,0.020761,1531
251,"Young County, Texas",535.0,8.0,0.014953,3363
252,"Zapata County, Texas",345.0,9.0,0.026087,4355
253,"Zavala County, Texas",460.0,18.0,0.039130,2520

In [200]:
# Export the data.
covid.to_csv('../data/preprocessing/cleaned_covid_five_states.csv', index=False)