In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_engineered_il.csv')

In [3]:
df['County'] = df['county_state'].str.split(',').apply(lambda x:x[0])

In [4]:
df['County']

0           Adams County
1       Alexander County
2            Bond County
3           Boone County
4           Brown County
             ...
97           Will County
98     Williamson County
99      Winnebago County
100      Woodford County
101          Cook County
Name: County, Length: 102, dtype: object

In [5]:
df['county'] = df['County'].str.replace(' County', '')

In [11]:
df['county'] = df['county'].str.lower()

In [18]:
df['county'] = df['county'].str.title()

In [19]:
pd.set_option('display.max_rows', 500)
df['county']

0            Adams
1        Alexander
2             Bond
3            Boone
4            Brown
5           Bureau
6          Calhoun
7          Carroll
8             Cass
9        Champaign
10       Christian
11           Clark
12            Clay
13         Clinton
14           Coles
15        Crawford
16      Cumberland
17         De Witt
18          Dekalb
19         Douglas
20          Dupage
21           Edgar
22         Edwards
23       Effingham
24         Fayette
25            Ford
26        Franklin
27          Fulton
28        Gallatin
29          Greene
30          Grundy
31        Hamilton
32         Hancock
33          Hardin
34       Henderson
35           Henry
36        Iroquois
37         Jackson
38          Jasper
39       Jefferson
40          Jersey
41      Jo Daviess
42         Johnson
43            Kane
44        Kankakee
45         Kendall
46            Knox
47            Lake
48         Lasalle
49        Lawrence
50             Lee
51      Livingston
52           Logan
53           Macon
54        Macoupin
55         Madison
56          Marion
57        Marshall
58           Mason
59          Massac
60       Mcdonough
61         Mchenry
62          Mclean
63          Menard
64          Mercer
65          Monroe
66      Montgomery
67          Morgan
68        Moultrie
69            Ogle
70          Peoria
71           Perry
72           Piatt
73            Pike
74            Pope
75         Pulaski
76          Putnam
77        Randolph
78        Richland
79     Rock Island
80          Saline
81        Sangamon
82        Schuyler
83           Scott
84          Shelby
85       St. Clair
86           Stark
87      Stephenson
88        Tazewell
89           Union
90       Vermilion
91          Wabash
92          Warren
93      Washington
94           Wayne
95           White
96       Whiteside
97            Will
98      Williamson
99       Winnebago
100       Woodford
101           Cook
Name: county, dtype: object

In [25]:
df.to_csv('il_folium.csv')

In [26]:
df2 = pd.read_csv('cleaned_engineered_ny.csv')

In [28]:
df2['county'] = df2['county_state'].str.split(',').apply(lambda x:x[0])
df2['county'] = df2['county'].str.lower()
df2['county'] = df2['county'].str.title()
df2['county']

0           Albany County
1         Allegany County
2            Bronx County
3           Broome County
4      Cattaraugus County
5           Cayuga County
6       Chautauqua County
7          Chemung County
8         Chenango County
9          Clinton County
10        Columbia County
11        Cortland County
12        Delaware County
13        Dutchess County
14            Erie County
15           Essex County
16        Franklin County
17          Fulton County
18         Genesee County
19          Greene County
20        Hamilton County
21        Herkimer County
22       Jefferson County
23           Kings County
24           Lewis County
25      Livingston County
26         Madison County
27          Monroe County
28      Montgomery County
29          Nassau County
30        New York County
31         Niagara County
32          Oneida County
33        Onondaga County
34         Ontario County
35          Orange County
36         Orleans County
37          Oswego County
38          Otsego County
39          Putnam County
40          Queens County
41      Rensselaer County
42        Richmond County
43        Rockland County
44        Saratoga County
45     Schenectady County
46       Schoharie County
47        Schuyler County
48          Seneca County
49    St. Lawrence County
50         Steuben County
51         Suffolk County
52        Sullivan County
53           Tioga County
54        Tompkins County
55          Ulster County
56          Warren County
57      Washington County
58           Wayne County
59     Westchester County
60         Wyoming County
61           Yates County
Name: county, dtype: object

In [30]:
df2.to_csv('ny_folium.csv')

In [32]:
df3 = pd.read_csv('cleaned_engineered_ca.csv')

In [34]:
df3['county'] = df3['county_state'].str.split(',').apply(lambda x:x[0])
df3['county'] = df3['county'].str.replace(' County', '')
df3['county'] = df3['county'].str.lower()
df3['county'] = df3['county'].str.title()
df3['county']

0         Santa Clara
1           San Mateo
2       Santa Barbara
3            Tuolumne
4              Sierra
5              Placer
6     San Luis Obispo
7              Solano
8            Monterey
9                Yuba
10      San Francisco
11             Orange
12               Mono
13          Calaveras
14             Alpine
15             Nevada
16              Butte
17         Santa Cruz
18          Mendocino
19             Fresno
20               Inyo
21        San Joaquin
22            Ventura
23            Trinity
24           Mariposa
25          El Dorado
26             Sonoma
27             Shasta
28             Lassen
29             Colusa
30               Lake
31              Modoc
32             Tulare
33         San Benito
34            Alameda
35              Marin
36          San Diego
37              Glenn
38           Siskiyou
39             Madera
40             Tehama
41             Sutter
42               Napa
43        Los Angeles
44         Sacramento
45             Merced
46              Kings
47               Kern
48          Riverside
49       Contra Costa
50          Del Norte
51     San Bernardino
52         Stanislaus
53           Humboldt
54             Plumas
55             Amador
56           Imperial
57               Yolo
Name: county, dtype: object

In [35]:
df3.to_csv('ca_folium.csv')